.CardElement{
  width: 25.2rem;
}

.CardElement #card-obj{
 border-radius: 10px;
 padding-right: 10rem;
}

.CardElement #card-obj{
  transition: heigth 0.5s;
}

.CardElement #card-obj:hover{
  height: 40rem;
}


@media (min-width: 700px) {
  :card-obj {
    width: 10rem;
    height: 14rem;
  }
}